@font-face {
  font-family: "Libre Franklin-Regular";
  src: url(assets/LibreFranklin-Regular.ttf);
}

@font-face {
  font-family: "Libre Franklin-SemiBold";
  src: url(assets/LibreFranklin-SemiBold.ttf);
}

@font-face {
  font-family: "Libre Franklin-Thin";
  src: url(assets/LibreFranklin-Thin.ttf);
}

@font-face {
  font-family: "Libre Franklin-Bold";
  src: url(assets/LibreFranklin-Bold.ttf);
}

/* @media only screen and (max-width: 768px) {
  .button {
position: fixed;
    margin-top: 60px;
    left: 20px;
  }
} */

/* MAIN */

.background {
  background-image: url(assets/gallery.jpeg);
  background-size: cover;
  background-position: center fixed 120px;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: "Libre Franklin-SemiBold";
}

h2 {
  font-family: "Libre Franklin-Regular";
}

h3 {
  font-family: "Libre Franklin-Thin";
}

p {
  font-family: "Libre Franklin-Regular";
}

form {
  font-family: "Libre Franklin-Thin";
}

.bold {
  font-family: "Libre Franklin-Bold";
}

.titlePage {
  width: 100%;
  height: 120px;
  background-color: white;
  opacity: 87%;
  padding-left: 90px;
  padding-top: 30px;
  line-height: 12px;
}

.button {
  position: fixed;
  top: 60px;
  right: 90px;
  padding: 10px 20px;
  font-family: "Libre Franklin-SemiBold";
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.button:hover {
  background-color: lightgray;
  border-radius: 8px;
}



/* PAINTING */

.row {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.row2 {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.row3 {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.row4 {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.row5 {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.row6 {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.row7 {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.row8 {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

/* PAINT COLORS */

.brown {
  width: 35px;
  height: 35px;
  background-color: rgb(80, 65, 60);
}

.white {
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  border: 0.25px solid rgb(187, 184, 184);
  background-color: white;
}

.lavender {
  width: 35px;
  height: 35px;
  background-color: rgb(136, 121, 170);
}

.black {
  width: 35px;
  height: 35px;
  background-color: rgb(56, 54, 52);
}

.orange {
  width: 35px;
  height: 35px;
  background-color: rgb(188, 113, 55);
}

.blue {
  width: 35px;
  height: 35px;
  background-color: rgb(84, 147, 182);
}

.red {
  width: 35px;
  height: 35px;
  background-color: rgb(144, 60, 53);
}

.green {
  width: 35px;
  height: 35px;
  background-color: rgb(46, 101, 80);
}

.yellow {
  width: 35px;
  height: 35px;
  background-color: rgb(230, 217, 86);
}

.pink {
  width: 35px;
  height: 35px;
  background-color: rgb(191, 114, 132);
}

.lime {
  width: 35px;
  height: 35px;
  background-color: rgb(146, 191, 138);
}

.purple {
  width: 35px;
  height: 35px;
  background-color: rgb(75, 62, 94);
}

.navy {
  width: 35px;
  height: 35px;
  background-color: rgb(51, 81, 134);
}
